<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><%= link_to "Home", root_path %></li> 
    <li><%= link_to "View Cleanups", cleanups_path %></li>
    <li><span class="show-for-sr">Current: </span>State</li>
  </ul>
</nav>

<h1><%= "Cleanups By State/Territory: #{@state_name}" %></h1>


<div>
 <% @cleanup_cities.each do |cleanup| %>
    <li><%= link_to cleanup, state_city_path(params[:id], cleanup) %></li>
    <% end %>
</div>

<nav class="bottom-bar">
    <div class="bottom-bar-left">
      <ul class="menu">  
      <%= link_to 'Back', cleanups_path %> 
      </ul>
    </div>
</nav>