<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><%= link_to "Home", root_path %></li> 
    <li><span class="show-for-sr">Current: </span>View Cleanups</li>
  </ul>
</nav>

<h1>Cleanups By State</h1>

<div>
    <h3>To view cleanup records for a particular state, click one of the state links below.</h3>
</div>

<strong>New England:</strong>
<ul>
    <li>
        <%= link_to 'Connecticut', "/states/CT" %>
    </li>
    <li>
        <%= link_to 'Maine', "/states/ME" %>
    </li>
    <li>
        <%= link_to 'Massachusetts', "/states/MA" %>
    </li>
    <li>
        <%= link_to 'New Hampshire', "/states/NH" %>
    </li>
    <li>
        <%= link_to 'Rhode Island', "/states/RI" %>
    </li>
    <li>
        <%= link_to 'Vermont', "/states/VT" %>
    </li>
</ul>

<strong>Mid Atlantic:</strong>
<ul>
    <li>
        <%= link_to 'Delaware', "/states/DE" %>
    </li>
    <li>
        <%= link_to 'District of Columbia', "/states/DC" %>
    </li>
    <li>
        <%= link_to 'Maryland', "/states/MD" %>
    </li>
    <li>
        <%= link_to 'New Jersey', "/states/NJ" %>
    </li>
    <li>
        <%= link_to 'New York', "/states/NY" %>
    </li>
    <li>
        <%= link_to 'Pennsylvania', "/states/PA" %>
    </li>
</ul>

<strong>South:</strong>
<ul>
    <li>
        <%= link_to 'Alabama', "/states/AL" %>
    </li>
    <li>
        <%= link_to 'Arkansas', "/states/AR" %>
    </li>
    <li>
        <%= link_to 'Florida', "/states/FL" %>
    </li>
    <li>
        <%= link_to 'Georgia', "/states/GA" %>
    </li>
    <li>
        <%= link_to 'Kentucky', "/states/KY" %>
    </li>
    <li>
        <%= link_to 'Louisiana', "/states/LA" %>
    </li>
    <li>
        <%= link_to 'Mississippi', "/states/MS" %>
    </li>
    <li>
        <%= link_to 'North Carolina', "/states/NC" %>
    </li>
    <li>
        <%= link_to 'South Carolina', "/states/SC" %>
    </li>
    <li>
        <%= link_to 'Tennessee', "/states/TN" %>
    </li>
    <li>
        <%= link_to 'Virginia', "/states/VA" %>
    </li>
    <li>
        <%= link_to 'West Virginia', "/states/WV" %>
    </li>
</ul>


<strong>Midwest:</strong>
<ul>
    <li>
        <%= link_to 'Illinois', "/states/IL" %>
    </li>
    <li>
        <%= link_to 'Indiana', "/states/IN" %>
    </li>
    <li>
        <%= link_to 'Iowa', "/states/IA" %>
    </li>
    <li>
        <%= link_to 'Kansas', "/states/KA" %>
    </li>
    <li>
        <%= link_to 'Michigan', "/states/MI" %>
    </li>
    <li>
        <%= link_to 'Minnesota', "/states/MN" %>
    </li>
    <li>
        <%= link_to 'Missouri', "/states/MO" %>
    </li>
    <li>
        <%= link_to 'Nebraska', "/states/NE" %>
    </li>
    <li>
        <%= link_to 'North Dakota', "/states/ND" %>
    </li>
    <li>
        <%= link_to 'Ohio', "/states/OH" %>
    </li>
    <li>
        <%= link_to 'Puerto Rico', "/states/PR" %>
    </li>
    <li>
        <%= link_to 'South Dakota', "/states/SD" %>
    </li>
    <li>
        <%= link_to 'Wisconsin', "/states/WI" %>
    </li>
</ul>

<strong>Southwest:</strong>
<ul>
    <li>
        <%= link_to 'Arizona', "/states/AZ" %>
    </li>
    <li>
        <%= link_to 'New Mexico', "/states/NM" %>
    </li>
    <li>
        <%= link_to 'Oklahoma', "/states/OK" %>
    </li>
    <li>
        <%= link_to 'Texas', "/states/TX" %>
    </li>
</ul>

<strong>West:</strong>
<ul>
    <li>
        <%= link_to 'Alaska', "/states/AK" %>
    </li>
    <li>
        <%= link_to 'California', "/states/CA" %>
    </li>
    <li>
        <%= link_to 'Colorado', "/states/CO" %>
    </li>
    <li>
        <%= link_to 'Hawaii', "/states/HI" %>
    </li>
    <li>
        <%= link_to 'Idaho', "/states/ID" %>
    </li>
    <li>
        <%= link_to 'Montana', "/states/MT" %>
    </li>
    <li>
        <%= link_to 'Nevada', "/states/NV" %>
    </li>
    <li>
        <%= link_to 'Oregon', "/states/OR" %>
    </li>
    <li>
        <%= link_to 'Utah', "/states/UT" %>
    </li>
    <li>
        <%= link_to 'Washington', "/states/WA" %>
    </li>
    <li>
        <%= link_to 'Wyoming', "/states/WY" %>
    </li>
</ul>












