<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><%= link_to "Home", root_path %></li> 
    <li><%= link_to "View Cleanups", cleanups_path %></li>
    <li><%= link_to "State", state_path(@cleanup.state) %></li>
    <li><%= link_to "City", state_city_path(@cleanup.state, @cleanup.city) %></li>
    <li><span class="show-for-sr">Current: </span>Cleanup Log</li>
  </ul>
</nav>

<h1>Cleanup Log</h1>

  <p>
    <strong>Title:</strong>
    <%= @cleanup.title %>
  </p>

  <p>
    <strong>Posted By:</strong>
    <%= @cleanup.posted_by %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @cleanup.date.strftime("%m-%d-%Y") %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @cleanup.state %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @cleanup.city %>
  </p>

  <p>
    <strong>Cleanup Type:</strong>
    <%= @cleanup.cleanup_type %>
  </p>

  <p>
    <strong>Number of Volunteers:</strong>
    <%= @cleanup.volunteers %>
  </p>

  <p>
    <strong>Total Trash (lbs.):</strong>
    <%= @cleanup.total_trash %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @cleanup.description %>
  </p>

  <%= image_tag(@cleanup.cleanup_photo.thumb.url, alt: 'Image') if @cleanup.cleanup_photo? %>


<nav class="bottom-bar">
    <div class="bottom-bar-left">
      <ul class="menu">  
      <%= link_to "Back", state_city_path(@cleanup.state, @cleanup.city) %> 
      <% if current_user == @cleanup.user %>
      <%= link_to 'Edit Cleanup', edit_cleanup_path %> 
      <% end %>
      </ul>
    </div>
</nav>