<h1>Cleanup Log</h1>

  <p>
    <strong>Title:</strong>
    <%= @cleanup.title %>
  </p>

  <p>
    <strong>Posted By:</strong>
    <%= @cleanup.posted_by %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @cleanup.date %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @cleanup.state %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @cleanup.city %>
  </p>

  <p>
    <strong>Cleanup Type:</strong>
    <%= @cleanup.cleanup_type %>
  </p>

  <p>
    <strong>Number of Volunteers:</strong>
    <%= @cleanup.volunteers %>
  </p>

  <p>
    <strong>Total Trash (lbs.):</strong>
    <%= @cleanup.total_trash %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @cleanup.description %>
  </p>

  <%= image_tag(@cleanup.cleanup_photo.thumb.url, alt: 'Image') if @cleanup.cleanup_photo? %>


<div>
  <p>
    <%= link_to 'Home', root_path %> | 
    <%= link_to "Back", state_city_path(@cleanup.state, @cleanup.city) %> 
    <% if current_user == @cleanup.user %>
      | <%= link_to 'Edit Cleanup', edit_cleanup_path %> |
      <%= link_to 'My Cleanups', user_path %>
  </p>
  <% end %>
</div>