<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><%= link_to "Home", root_path %></li> 
    <li><%= link_to "View Cleanups", cleanups_path %></li>
    <li><%= link_to "State", state_path(params[:state_id]) %></li>
    <li><span class="show-for-sr">Current: </span>City</li>
  </ul>
</nav>

<h1><%= "Cleanups for: #{@city_name}" %></h1>

<div>
<% @cleanups.each do |cleanup| %>
    <li><%= link_to cleanup.title, cleanup %></li>
    <% end %>
</div>



<nav class="bottom-bar">
    <div class="bottom-bar-left">
      <ul class="menu">  
      <%= link_to 'Back', state_path(params[:state_id]) %> 
      </ul>
    </div>
</nav>