<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><%= link_to "Home", root_path %></li> 
    <li><%= link_to "View Cleanups", cleanups_path %></li>
    <li><%= link_to "State", state_path(params[:state_id]) %></li>
    <li><span class="show-for-sr">Current: </span>City</li>
  </ul>
</nav>

<h1><%= "Cleanups By City: #{@city_name}" %></h1>
<h3>Looking for a specific cleanup? Locate it here, organized by date.</h3>

<table class= "hover">
  <thead>
    <tr>
      <th width="200">Date</th>
      <th>Cleanup Event</th>   
    </tr>
  </thead>
  <tbody>
  <div>
  <% @cleanups.each do |cleanup| %>
    <tr>
      <td><%= cleanup.date.strftime("%m-%d-%Y") %></td> 
      <td><%= link_to cleanup.title, cleanup %></td>
    </tr>   
    <% end %>
  </tbody>
</table>


<nav class="bottom-bar">
    <div class="bottom-bar-left">
      <ul class="menu">  
      <%= link_to 'Back', state_path(params[:state_id]) %> 
      </ul>
    </div>
</nav>