<!DOCTYPE html>
<html>
<head>
  <title>Cleanups</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <nav class="top-bar">
    <h1><a href="/">Cleanups</a></h1>
    <div class="top-bar-left">
      <ul class="menu">  
      <%= link_to "View Cleanups", cleanups_path %> 
      <%= link_to "Log A Cleanup", new_cleanup_path %>
      <%= link_to "About", details_path %>
      <%- if current_user -%>
      <%= link_to "My Cleanups", user_path(current_user) %>
      <%- end -%>
      </ul>
    </div>

    <section class="top-bar-section">
      <ul class="right">
      <ul class="menu">
        <%- if current_user -%> 
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <div class="grid-container">
  <%= yield %>
  </div>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
</body>
</html>
